APP_ID=app_02bd6decc052cfd1dfa2948744af6c6f
VITE_WORLD_APP_ID=app_02bd6decc052cfd1dfa2948744af6c6f
DEV_PORTAL_API_KEY=your_world_developer_portal_api_key
RESEND_API_KEY=your_resend_api_key
ORDER_NOTIFICATION_EMAIL=brianokindo2022@gmail.com
ORDER_EMAIL_FROM=TMpesa <onboarding@resend.dev>
WORLD_NOTIFICATION_API_KEY=your_world_notification_api_key
BLOB_READ_WRITE_TOKEN=your_vercel_blob_read_write_token
